footer {
    background: url("../../images/footer-bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
    background-position: center bottom;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(56, 56, 56, 0.8);
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        height: 250px;
        background: rgb(34, 40, 49);
        background: linear-gradient(180deg, rgba(34, 40, 49, 1) 0%, rgba(34, 40, 49, 0.8) 20%, rgba(34, 40, 49, 0.5) 80%, rgba(34, 40, 49, 0) 100%);
    }

    .cont {
        position: relative;
        z-index: 2;
    }

    .address {
        padding-left: 30px;
        position: relative;
        color: #f7f7f7;

        &::after {
            content: url(../../images/pin.png);
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .sahibinden {
        padding-left: 30px;
        position: relative;
        color: #f7f7f7;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .mail {
        padding-left: 30px;
        position: relative;
        color: #f7f7f7;
        text-decoration: none;

        &::after {
            content: url(../../images/mail.png);
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .tel {
        padding-left: 30px;
        position: relative;
        color: #f7f7f7;
        text-decoration: none;

        &::after {
            content: url(../../images/telephone.png);
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}