@font-face {
  font-family: Nunito;
  src: url("./fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: DancingScript;
  src: url("./fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  font-family: "Nunito";
}
.App {
  min-height: 300vh;
  background-color: #222831;
}
.hero_banner {
  background: url("./images/kentsel-donusum.jpg") no-repeat;
  background-size: cover;
  padding-top: 100vh;
  position: relative;
}
.hero_banner::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 200px;
  background: rgb(34,40,49);
background: linear-gradient(180deg, rgba(34,40,49,1) 0%, rgba(34,40,49,0.9) 30%, rgba(34,40,49,0.7) 70%, rgba(34,40,49,0) 100%);
}
.hero_banner::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 200px;
  background: rgb(34,40,49);
background: linear-gradient(0deg, rgba(34,40,49,1) 0%, rgba(34,40,49,0.9) 30%, rgba(34,40,49,0.7) 70%, rgba(34,40,49,0) 100%);
}
.text_box {position: absolute;top: 35%;}
#homeGapper {
  padding-top: calc(100vh - 170px);
}
.hero_banner_wrapper {
  position: absolute;
    top: 0;
}
.slogan {
  font-size: 4.268rem;
  color: #222831;
}
.slogan2 {
  font-family: DancingScript;
  font-size: 4.268rem;
  color: #222831;
}