@font-face {
  font-family: Nunito;
  src: url("./fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: DancingScript;
  src: url("./fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  font-family: "Nunito";
}
.z__1 {
  z-index: -1;
}
.bg-main {
  background-color: #222831;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.App {
  /* background-color: #222831; */
}
.behind-nav {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
}
.section-bg {
  background-color: #222831;
}
.hero_banner {
  background: url("./images/kentsel-donusum.jpg") no-repeat;
  background-size: cover;
  padding-top: 100vh;
  position: relative;
  background-attachment: fixed;
}
.hero_banner::before {
  content: "";
  position: fixed;
  top: -2px;
  left: 0;
  right: 0;
  height: 200px;
  background: rgb(34,40,49);
background: linear-gradient(180deg, rgba(34,40,49,1) 0%, rgba(34,40,49,0.9) 30%, rgba(34,40,49,0.7) 70%, rgba(34,40,49,0) 100%);
}
.hero_banner::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 200px;
  background: rgb(34,40,49);
background: linear-gradient(0deg, rgba(34,40,49,1) 0%, rgba(34,40,49,0.9) 30%, rgba(34,40,49,0.7) 70%, rgba(34,40,49,0) 100%);
}
.text_box {position: absolute;top: 35%;}
#homeGapper {
  padding-top: calc(100vh - 170px);
}
.hero_banner_wrapper {
  position: absolute;
    top: 0;
}
.slogan {
  font-size: 4.268rem;
  color: #222831;
}
.slogan2 {
  font-family: DancingScript;
  font-size: 4.268rem;
  color: #222831;
}
.hakkimizda-border {
  border-radius: 30px;
}
.hakkimizda-wrapper {
  background-color: rgba(210, 172, 103, .35);
  padding: 60px;
}
.info-text {
  color: #d2ac67;
  font-size: 1.375rem;
}
.carousel {
    width: 100%;
}/* 
.flickity-slider > img {
  width: 33%;
} */
/* position dots up a bit */
.flickity-page-dots {
  bottom: -46px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 5px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background: #d2ac67;
  width: calc(100% / 6);
  border-radius: 3px;
  opacity: 0;
}
.lastBread {color: #d2ac67 !important;}